.login-pop {
  width: auto;
  min-width: auto;
  margin-top: 16px;
}
.el-dropdown-menu {
  &.el-popper {
    margin-top: 16px;
  }
  .popper__arrow {
    display: none;
  }
}
.sidebar-container {
  .scrollbar-wrapper {
    overflow-x: hidden;
  }
}
.tab-container {
  .tab-scrollbar-wrapper {
    overflow-x: hidden;
  }
}
.tab-container {
  height: 100%;
  .el-tabs {
    height: 100%;
  }
  .el-tabs__header {
    margin-bottom: 0;
  }
  .el-tabs--card>.el-tabs__header .el-tabs__item.is-active {
    border-bottom-color: #E4E7ED;
  }
  .el-tabs__content {
    height: calc(100% - 41px);
    .el-tab-pane {
      height: 100%;
      box-sizing: border-box;
      padding: 5px 0 5px 5px;
      background-color: #fff;
    }
  }
}