.icon { display: inline-block; vertical-align: middle; background-image: url(../assets/sprite/sprite.png) }
.icon-plant-day { width: 100px; height: 100px; background-position: -101px -100px; }
.icon-plant-month { width: 101px; height: 100px; background-position: 0px 0px; }
.icon-plant-total { width: 101px; height: 100px; background-position: -101px 0px; }
.icon-plant-year { width: 101px; height: 100px; background-position: 0px -100px; }