.icon { display: inline-block; vertical-align: middle; background-image: url(../assets/sprite/sprite.png) }
.icon-plant-day { width: 100px; height: 100px; background-position: -202px -284px; }
.icon-plant-month { width: 101px; height: 100px; background-position: -284px -142px; }
.icon-plant-total { width: 101px; height: 100px; background-position: 0px -284px; }
.icon-plant-year { width: 101px; height: 100px; background-position: -101px -284px; }
.icon-battery { width: 142px; height: 142px; background-position: 0px 0px; }
.icon-grid { width: 142px; height: 142px; background-position: -142px 0px; }
.icon-inverter { width: 142px; height: 142px; background-position: 0px -142px; }
.icon-load { width: 142px; height: 142px; background-position: -142px -142px; }
.icon-pv { width: 142px; height: 142px; background-position: -284px 0px; }