.icon { display: inline-block; vertical-align: middle; background-image: url(../assets/sprite/sprite.png) }
.icon-battery { width: 85px; height: 85px; background-position: -243px -100px; }
.icon-grid { width: 85px; height: 85px; background-position: 0px -242px; }
.icon-inverter { width: 85px; height: 85px; background-position: -85px -242px; }
.icon-load { width: 85px; height: 85px; background-position: -170px -242px; }
.icon-plant-day { width: 100px; height: 100px; background-position: -243px 0px; }
.icon-plant-month { width: 101px; height: 100px; background-position: -142px 0px; }
.icon-plant-total { width: 101px; height: 100px; background-position: 0px -142px; }
.icon-plant-year { width: 101px; height: 100px; background-position: -101px -142px; }
.icon-pv { width: 142px; height: 142px; background-position: 0px 0px; }
.icon-signal0 { width: 64px; height: 64px; background-position: -255px -242px; }
.icon-signal1 { width: 64px; height: 64px; background-position: -343px 0px; }
.icon-signal2 { width: 64px; height: 64px; background-position: -343px -64px; }
.icon-signal3 { width: 64px; height: 64px; background-position: -343px -128px; }
.icon-signal4 { width: 64px; height: 64px; background-position: -343px -192px; }